.bar-chart {
  margin: auto;
  transition: height 0.5s;
}

svg {
  shape-rendering: crispEdges;
}

.bar {
  .male {
    fill: #6baed6;
  }

  .female {
    fill: #fc9272;
  }

  &.selected {
    .line {
      fill: #737373;
    }
  }
}

.value {
  font-size: 11px;
  fill: #ffffff;
}

.label {
  font-size: 14px;
  fill: #333333;
}

.axis {
  path {
    fill: none;
  }

  .tick {
    line {
      stroke-width: 1;
      stroke: rgba(0, 0, 0, 0.1);
    }
  }

  font-size: 12px;
}
